**/.DS_Store
data/
pytorch-openpose/*
openpose_impl/model/*
hand_detection/src/models/openpose_impl/


data_exp/

*.jpg


#testing
test_*/
**/test*/**

**/*.pth
test.ipynb

**/.venv/**

**/*output*/**

presentation/

